@model My_First_APP.Blank

@{
    ViewBag.Title = "Удаление анкеты";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .btn a {
        color: white;
        text-decoration: none;
    }

    body {
        background-color: #F1F1F1;
    }
</style>



<h3>Вы уверены, что хотите удалить заполненную анкету?</h3>
<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BlankType.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BlankType.Name)
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">   
            <div class="btn btn-success">
                @Html.ActionLink("Обратно к списку", "Index")
            </div> 
            <div class="btn btn-info">
                @Html.ActionLink("Подробнее об анкете", "Details", new { id = Model.Id })
            </div> 
                <input type="submit" value="Удалить" class="btn btn-danger" />
            </div>
    }
</div>
