@*@model My_First_APP.Models.FillingBlank*@
@using My_First_APP.Models;
@model New_Model
@{
    
    ViewBag.Title = "Test";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Вопрос @(Model.current_question + 1) из @Model.questions.Count()</h2>
@using (Html.BeginForm("Enter", "Blank", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{

    @Html.AntiForgeryToken()
    int i = 0;
    <h2>@Model.Question.Name</h2>
    @Html.HiddenFor(m => m.blank_id)
    @Html.HiddenFor(model => model.current_question)
    foreach (CharacteristicsValue CHV in Model.Default_Answers)
    {

        @Html.HiddenFor(m => m.type_answers[i])
        if (CHV.Type == "CB")
        {
            <div class="form-group">
                @Html.CheckBoxFor(m => m.b_answers[i], new { @class = "col-md-2 control-label" })
                @Html.Label(CHV.Value, new { @class = "form-control" })
                <div class="col-md-10">
                </div>
            </div>
        }

        else if (CHV.Type == "CB_TB")
        {
            <div class="form-group">
                @Html.CheckBoxFor(m => m.b_answers[i], new { @class = "col-md-2 control-label" }) @Html.TextBoxFor(m => m.s_answers[i], new { @class = "form-control" })
                @Html.Label(CHV.Value, new { @class = "form-control" })
                <div class="col-md-10">
                </div>
            </div>
        }

        else if (CHV.Type == "TB")
        {
            <div class="form-group">
                @Html.TextBoxFor(m => m.s_answers[i], new { @class = "form-control" })
                <div class="col-md-10">
                </div>
            </div>
        }
        i++;
    }

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Далее" />
        </div>
    </div>

}


@*
    @{Html.RenderPartial("_Answers", Model);}
*@





























@*
        <h2>Вопрос @(Convert.ToInt32(Session["Current_Question"])+1) из @Model.Elements.Count() </h2>

        @using (Html.BeginForm("Filling", "Blank", new { ReturnUrl = ViewBag.ReturnUrl },FormMethod.Post, new { @class = "form-horizontal", role = "form" }))

        {
            @Html.AntiForgeryToken()
            @* @Html.Label(Model.Elements[Convert.ToInt32(Session["Current_Question"])].Question.Name)
        foreach (CharacteristicsValue CHV in Model.Elements[Convert.ToInt32(Session["Current_Question"])].Default_Answers)
        {
            if (CHV.Type == "CB")
            {
            <div class="form-group">
                @Html.CheckBox(CHV.Value, false, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                </div>
            </div>
        }

        if (CHV.Type == "CB_TB")
        {
            <div class="form-group">
                @Html.CheckBox(CHV.Value, false, new { @class = "col-md-2 control-label" }) @Html.TextBox(CHV.Id.ToString(),new { @class = "form-control" })
                           <div class="col-md-10">
                </div>
            </div>
        }

        if (CHV.Type == "TB")
        {
            <div class="form-group">
                 @Html.TextBox(CHV.Id.ToString(),null, new { @class = "form-control" })

                <div class="col-md-10">
                </div>
            </div>
        }
    }

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Далее" />
        </div>
    </div>
    }
*@


