@model My_First_APP.Models.ForgotPasswordModel
@{
    ViewBag.Title = "Добро пожаловать на страницу сброса пароля!";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h2>@ViewBag.Title</h2>
<p class="text-success">@ViewBag.StatusMessage</p>
@using (Html.BeginForm("ForgotPassword", "NewAccount", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Забыли пароль.</h4>
    <h5>Введите свой e-mail, указанный при регистрации.</h5>
    <hr />
    @Html.ValidationSummary()
    <div class="form-group">
        @Html.LabelFor(m=>m.Mail, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Mail, new { @class = "form-control" })
          

        </div>
    </div>
    
   
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Сбросить пароль" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
